@model Video

<div class="card mb-3">
        <div class="card-body">
            <!-- ex: image here, include song, id, title, desc, vid link -->
            <img src="@Model.Image" alt="Model.Title" />
            <h4 class="card-title">@Model.Title</h4>
            <p class="card-text">@Model.Summary</p>
        <a href="@Model.Url" class="btn btn-outline-primary">Watch Video</a>
        </div>
</div>