@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yosemite Valley Day Hikes</h1>
    <img src="https://www.nps.gov/yose/planyourvisit/images/hiker-in-valley_3.jpg?maxwidth=1300&maxheight=1300&autorotate=false" alt="Picture of Yosemite"/>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
